body {
    background-color: white;
}

h1 {
    color: black;
    font-size: 75%;
    border-bottom: solid 3px grey;
}

#points {
    font-size: 100%;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

#pointsL0 {
    font-size: 150%;
}

#task {
    font-size: 300%;
}

input, button, select {
    font-size: 200%;
}

output.correct {
    color: green;
}

output.wrong {
    color: red;
}

#statistic {
    font-size: x-small;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  font-size: 800%;
}

div.correct {
    background-color: rgba(108, 253, 9, 0.5);
}

div.wrong {
    background-color: rgba(162, 0, 0, 0.5);
}



























