body {
    background-color: white;
}

h1 {
    color: black;
    font-size: medium;
}

#task {
    font-size: x-large;
}

output.correct {
    color: green;
}

output.wrong {
    color: red;
}

#statistic {
    font-size: x-small;
}



























